body {
  background: #f0f0ee;
  text-align: center;
  margin-top: 50px;
}

#box {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 2px solid #cfcfcd;
  display: inline-block;
  margin: 3px;
}

#key {
  background-color: #7f7f84;
  border: none;
  margin: 2.5px;
  font-size: 20px;
  padding: 0;
  border-radius: 4px;
  height: 60px;
  width: 38px;
  color: white;
  cursor: pointer;
  font-family: Sono;
}

#rightPlace {
  background-color: #bba4df;
  border: none;
  margin: 2.5px;
  font-size: 20px;
  padding: 0;
  border-radius: 4px;
  height: 60px;
  width: 38px;
  color: white;
  cursor: pointer;
  font-family: Sono;
}

#rightLetter {
  background-color: #5c1529;
  border: none;
  margin: 2.5px;
  font-size: 20px;
  padding: 0;
  border-radius: 4px;
  height: 60px;
  width: 38px;
  color: white;
  cursor: pointer;
  font-family: Sono;
}

#key:hover {
  /* background-color: #bdbdc4; */
  opacity: 0.6;
  transition: 0.3s;
}

#row {
  margin: -3px;
  font-family: Sono;
  font-size: 24px;
  color: #69696b;
}

#letter {
  margin-top: 7px;
  margin-left: 12px;
  position: absolute;
}

